/*font-family: 'Raleway', sans-serif;

** background color: black; font color: white
** font: we found raleway to be closest

** top container: flex, let's see what happens
	** kill default styling on lists
	** uppercase LOGO uppercase SLOGAN COMPANY

** hr: slightly shorted in width! maybe 80%? Style it differently -

** bottom container
	** icon-container centered >
		** spacing icons with space between? space evenly?
		** Copyright aligned horizontally centered?*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

body {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-weight: bolder;
}

hr {
    width: 90%;
    margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.container {
    display: flex;
    flex-direction: column;

}

.top-container {
    display: flex;
    justify-content: space-evenly;
    padding: 3em 0;
}

.top-container ul {
    list-style: none;
}

.logo-container {
    display: flex;
    flex-direction: column;
}

.btm-container {
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.icon-container{
    display: flex;
    width: 33%;
    justify-content: space-between;
}

.icon-container i {
    font-size: 2.5em;
}

span {
    font-size: smaller;
    padding: 1em 0 0 0;
}